# json config files
*.json

# sqlite development databases

*.db

# pycache and pyc files

__pycache__/*
*.pyc


# virtualenv

ENV/*

# test files

database_test.py

# .python-version

.python-version