[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
alembic = "*"
click = "*"
dominate = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
gunicorn = "*"
"httplib2" = "*"
itsdangerous = "*"
"Jinja2" = "*"
Mako = "*"
MarkupSafe = "*"
"oauth2client" = "*"
"psycopg2" = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
python-dateutil = "*"
python-editor = "*"
rsa = "*"
six = "*"
SQLAlchemy = "*"
visitor = "*"
Werkzeug = "*"
WTForms = "*"

[requires]
python_version = "3.6"
