
{% for item in items %}
  <div class="row">
    <div class="col-sm-8">

        <p class="bg-danger">
        <a href="{{ url_for('showItem', item_id=item.id, category_id=item.category_id) }}"> {{ item.name }}</a>
        </p>

    </div>
    <div class="col-sm-4>">
        {% if is_logged_in() and is_owner_item(user_id, item.id) %}
          <a class="btn btn-default btn-xs" href="{{ url_for('editItem', category_id=item.category_id, item_id=item.id) }}" role="button">Edit</a>
          <a class="btn btn-default btn-xs" href="{{ url_for('deleteItem', category_id=item.category_id, item_id=item.id) }}" role="button">Delete</a>
        {% endif %}
    </div>
  </div>
{% endfor %}

