{% extends 'base.html' %}

{% block navbar_content %}
{% endblock %}

{% block page_content %}




<div class="row">

  <!-- Category listing -->

  <div class="col-sm-6">
    <h3>Categories</h3>

      {% for category in categories %}
        <div class="row">
          <div class="col-sm-8">
          <p class="bg-warning">
            <a href="{{ url_for('showCategory', category_id=category.id) }}">{{ category.name }}</a>
          </p>
          </div>

          <div class="col-sm-4">
          {% if is_owner_category(user_id, category.id) %}
            <a class="btn btn-default btn-xs" href="{{ url_for('editCategory', category_id=category.id) }}" role="button">Edit</a>
            <a class="btn btn-default btn-xs" href="{{ url_for('deleteCategory', category_id=category.id) }}" role="button">Delete</a>

          {% endif %}
          </div>
        </div>
      {% endfor %}

  </div>

  <!-- Item listing -->

  <div class="col-sm-6">
    <h3>Latest Items</h3>

      {% include "itemlist.html"  %}

  </div>
</div>

{% endblock %}
